<!DOCTYPE html>
<head>
    <style>

    </style>
</head>

<body>
    <h1>Login</h1>

  <div>
        <img src="#">        <!--../../AkeTeke-main/images/logo1.png-->
  </div>
  <form action="somewebsite.php">
    <div>
        <h3> Login to your account </h3>
        <label for="email">Email:</label>                                              
        <input type="text" id="email" name="email" value="" required><br><br>
        <label for="password">Password:</label>                                              
        <input type="text" id="password" name="password" value="" required><br>
    </div>
    <div>
        <p>If you don't already have an account</p>
        <a href = "somewebsite.php">Create an account</a>
    </div>
    <input type="submit" value="Login">

  </form>
</body>