<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Request approval</h1>

    <% data.forEach(entry => { %>
    
        <h3>Tenant :  <%= entry.Tenant%></h3>
        <h3>House Number Id :  <%= entry.HouseNumberId%></h3>
           
        
    
          <% }) %>
</body>
</html>